name: Publish WissKI Base Docker Images

on:
  push:
    branches: [main]
    tags:
      - "*.*.*"

env:
  REGISTRY: ghcr.io
  PLATFORMS: linux/amd64,linux/arm64
  CONTEXT_DIRECTORY: .

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        mode: [production, development]
        include:
          - mode: production
            image_name: soda-collections-objects-data-literacy/wisski-base-image-production
          - mode: development
            image_name: soda-collections-objects-data-literacy/wisski-base-image-development
    steps:
      - uses: actions/checkout@v4
      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: |
            ${{ env.REGISTRY }}/${{ matrix.image_name }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.REGISTRY }}
      - uses: docker/build-push-action@v6
        with:
          context: ${{ env.CONTEXT_DIRECTORY }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            MODE=${{ matrix.mode }}
          platforms: ${{ env.PLATFORMS }}
          pull: true
          push: true
